@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto.ttf') format('truetype');

}

@font-face {
  font-family: 'Sans';
  src: url('../../public/fonts/Sans.ttf') format('truetype');
}


html {
    scroll-behavior: smooth;
}

